stages:
  - deploy-github

variables:
  GITHUB_HOST: declanoconnor
  GITHUB_PATH: testopenapispec

deploy-github:
    stage: deploy-github
    only:
        - main
    before_script:
        - mkdir ~/.ssh/
        - echo "${SSH_PUSH_KEY}" > ~/.ssh/id_rsa
        #- ssh-keyscan $CI_SERVER_HOST > ~/.ssh/known_hosts
        - ssh-keyscan -t rsa $CI_SERVER_HOST >> ~/.ssh/known_hosts
        - chmod 600 ~/.ssh/id_rsa
        - git config user.email "ci@example.com"
        - git config user.email "CI"
        - git remote remove ssh_origin || true
        - git remote add ssh_origin "git@$CI_SERVER_HOST:$CI_PROJECT_PATH.git"
    script:
        - touch "xyz"  # Make an edit
        - git add "xyz"
        #- git add api_spec.jsona
        - git commit -m "My CI commit"
        - git push ssh_origin HEAD:main
        - git tag MyCiTag
        - git push --tags ssh_origin
