stages:
  - deploy-github

# https://stackoverflow.com/questions/51716044/how-do-i-push-to-a-repo-from-within-a-gitlab-ci-pipeline
# https://github.com/declanoconnor/testopenapispec/settings/keys

variables:
  GITHUB_HOST: declanoconnor
  GITHUB_PATH: testopenapispec

deploy-github:
    stage: deploy-github
    only:
        - main
    before_script:
        - mkdir ~/.ssh/
        - echo "${SSH_PUSH_KEY}" > ~/.ssh/id_rsa
        - ssh-keyscan -t rsa $CI_SERVER_HOST >> ~/.ssh/known_hosts
        - ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
        - chmod 600 ~/.ssh/id_rsa
        - git config user.email "ci@example.com"
        - git config user.email "CI"
        - git remote remove ssh_origin || true
        - git remote add ssh_origin "git@github.com:declanoconnor/testopenapispec.git"
    script:
        - touch "xyz"  # Make an edit
        - git add "xyz"
        #- git add api_spec.jsona
        - git commit -m "My CI commit"
        - git checkout -b main
        #- git pull
        - git push ssh_origin HEAD:main --force
        - git tag MyCiTag
        - git push --tags ssh_origin
