stages:
  - deploy-github

variables:
  CI_SERVER_HOST: declanoconnor
  CI_PROJECT_PATH: testopenapispec

deploy-github:
    stage: deploy-github
    only:
        - main
    before_script:
        - mkdir ~/.ssh/
        - echo "${SSH_PUSH_KEY}" > ~/.ssh/id_rsa
        - chmod 600 ~/.ssh/id_rsa
        - git config user.email "ci@example.com"
        - git config user.email "CI"
        - git remote remove ssh_origin || true
        - git remote add ssh_origin "git@$CI_SERVER_HOST:$CI_PROJECT_PATH.git"
    script:
        - git add api_spec.json
        - git commit -m "My CI commit"
        - git push ssh_origin HEAD:main
        - git tag MyCiTag
        - git push --tags ssh_origin
